

*
{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.container{
    width: 100wh;
    height: 100wh;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
.navcontainer
{
    width: 100vw;
    background: #d45858;
 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    position: relative;

    

}
nav{
    width: 100%;
    overflow-x: none;
    background-color:  #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    ;
}

#navlist{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 2.5rem;
    list-style: none;
    
    


}
#logo{
    
    font-family: Roboto, Arial, sans-serif;

    font-size: 3rem;
    color: rgb(229, 229, 240);
}

a{
    text-decoration: none;
}

.navitems{
    display: flex;
    gap: 40px;
}

.footerbox
{


    background-color:  #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    ;
    width: 100%;
    text-align: center;
    min-height: 40px;
    

}

.footerbox p{
    font-size: 2rem;
    color: aliceblue;
}
.contentbox{
    width: 70%;
    margin: auto;
    height: 100%;
    background-color: aliceblue;

    display: flex;  
    gap: 100px;
    flex-direction: column;
    padding: 3rem;

    box-shadow: 3px 3px 30px black;
}
.itemcontent{
    display: flex;
    flex-direction: row;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.itemimage{
    img{
      
        height: 300px;
        border-radius: 22px;
        margin-top: 20px;
        transition: all 0.6s linear 0s;
    }
}

.itemimage:hover
{
    transform: scale(1.1);
}

.itemtext
{
    display:flex ;
    flex-direction: column;
    gap: 20px;
}
.itemtext h2{
    font-size: 2rem;
}

.ingredientbox{
    font-size: 1.3rem;
}
.recipebox{
    font-size: 1.1rem;
}

.itemimage 
{
    img{
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: gray;
        }

    }
}

.item{

    h2{
        padding: 12px;

    }
    h3{
        padding: 12px;
    }
    display: flex;
    flex-direction: row;
   
    .itemcontent {
        align-content: space-around;

    }

}